@media {

  body {
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .section {
    scroll-snap-align: start;
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .App {
    position: relative;
    overflow: scroll;
    width: 100%;
    height: 100vh;
    scrollbar-width: none;
    overscroll-behavior-y: contain;
    scroll-snap-type: y mandatory;
    -ms-overflow-style: none;
  }

  .html::-webkit-scrollbar {
    display: none;
  }

  .column {

    height: 100vh;
    width: 50%;
    float: left;
    overflow-y: scroll;
    scrollbar-width: none;

  }

  /* Create artificial contecnt that extend past the viewport */
  .content {

    width: 80%;
    margin-left: 3vw;
    margin-right: 2vw;
    line-height: 1.5em;
  }


  /* Because we like pretty things */
  .left {
    display: grid;
    grid-template-columns: repeat(2 1fr);
    background: white;

  }

  #slide {
    z-index: 1;
    position: absolute;
    top: 0;
    width: 50vw;
    height: 100vh;
    transition: 1s;
  }

  .left:hover #slide {
    transition: 1s;
    top: -100vh;
  }


  .right {
    background: white;
    color: white;
  }

  #slideBaixa {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 50vw;
    width: 50vw;
    height: 50vw;
    transition: 1s;
  }

  .right:hover #slideBaixa {

    transition: 1s;
    top: 100vh;
  }

  #botao {
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("./media/down-arrow-svgrepo-com.svg");
  }

  #botao2 {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("./media/down-arrow-svgrepo-com180.svg");
  }

  button {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 4;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    border-color: transparent;

  }

  #imgContent {
    z-index: 0;
    position: relative;
    max-height: 100%;
    width: 100%;
    height: auto;
  }

  .coisoetal {
    background-color: #BF5700;
    transform: translate(-6%);
    z-index: 0;
    width: 50vw;
  }

  .logoAB {
    position: absolute;
    top: 0;
    right: 73%;
    height: 50%;
  }

  #logoAB {
    height: 80%;
  }

  .logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  #logo {
    width: 90%;
  }

  .textoRevista {
    position: absolute;
    top: 65%;
    left: 68%;
    width: 80%;
  }

  #textoRevista {
    width: 40%;
  }

}