
@media {
  
  body {
    padding: 0px;
    margin: 0px;
    overflow-x:hidden;
    overflow-y:hidden;
  }
  .section{
    scroll-snap-align: start;
    display:flex;
    width:100%;
    height:100%;
    position:relative;
  }
  
  .App{
    position:relative;
    overflow:scroll;
    width:100%;
    height:100vh;
    scrollbar-width:none;
    overscroll-behavior-y:contain;
    scroll-snap-type:y mandatory;
    -ms-overflow-style: none;
  }
  ::-webkit-scrollbar{
    display:none;
  }
  .column {
    
    height: 100vh;
    width: 50%;
    float: left;
    overflow-y: scroll;
    scrollbar-width:none;
    
  }
  
  /* Create artificial contecnt that extend past the viewport */
  .content {
    width: 70%; 
    
    height: 10000px;
    margin: 20px auto;
    line-height: 1.5em;
    padding: 10px;
  }
  
  
  /* Because we like pretty things */
  .left { 
    background: white; 
    
  }
  .right { 
    background: #BF5700; 
    color:white;
  }


#slide {
  
    position: absolute;
    top: 0;
    width: 50vw;
    height: 100vh;
    transition: 1s;
}
#slideBaixa{
  position:absolute;
  top:0;
  left:50vw;
  width:50vw;
  height:50vw;
  transition:1s;
}
.right:hover #slideBaixa {
  
  transition:1s;
  top:100vh;
}
.left:hover #slide {
    transition: 1s;
    top: -100vh;
}

button {
 
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:50px;
    height: 50px;
  
 
  z-index: 4;
 
  display: block;
 
 
  background-image: url("./media/down-arrow-svgrepo-com.svg");
 
  background-repeat: no-repeat;
 
  background-size: contain;
 
  background-color: transparent;
 
  border-color: transparent;
 
 }
 
 
 
}